.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  gap: var(--container-gap);
  min-height: 100%;
  touch-action: none;
}

._int_scroll_area::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

._int_slide {
  width: var(--slide-width);
  height: var(--slide-height);
  background: rgb(255, 255, 255);
  border-radius: 8px;
  content-visibility: auto;
  content-visibility: auto;
  contain-intrinsic-size: var(--slide-width) var(--slide-height);
}

._int_slide__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--slide-padding);
}

input[type="checkbox"] {
  position: absolute;
  width: var(--checkbox-size);
  aspect-ratio: 1;
  will-change: opacity;
  transform: translateZ(0);
  animation: 0.25s ease 0s 1 normal none running fadeIn;
}

@media (prefers-reduced-motion: reduce) {
  input[type="checkbox"] {
    opacity: 1;
    animation: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
