.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  gap: var(--container-gap);
  min-height: 100%;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

._int_slide {
  width: var(--slide-width);
  height: var(--slide-height);
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

._int_slide__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--slide-padding);
  contain: content;
  content-visibility: auto;
  opacity: 0;
  transition: 0.3s ease-in-out;

  &:not(:empty) {
    opacity: 1;
  }
}

input[type="checkbox"] {
  position: absolute;
  width: var(--checkbox-size);
  aspect-ratio: 1;
  transform: translateZ(0);
}

.is-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grabbing;
  -webkit-user-drag: none;
}
