.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  gap: var(--container-gap);
  min-height: 100%;
  touch-action: none;
  overflow: hidden;
}

._int_scroll_area::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: all;
}

._int_slide {
  width: var(--slide-width);
  height: var(--slide-height);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  outline: 1px inset rgba(255, 255, 255, 0.18);
  content-visibility: auto;
}

._int_slide__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--slide-padding);
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: 0.3s opacity, 0.3s visibility;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

._int_slide__container--visible {
  opacity: 1;
  visibility: visible;
}

input[type="checkbox"] {
  position: absolute;
  width: var(--checkbox-size);
  aspect-ratio: 1;
}
