* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  padding: 12px;
  width: 100%;
  min-height: 100%;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100%;
}

._int_slide {
  width: var(--slide-width);
  height: var(--slide-height);
  padding: var(--slide-padding);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  content-visibility: auto;
}

table._int_table {
  border-spacing: 0px;
}

td._int_td {
  width: calc(var(--checkbox-size) + var(--cell-padding));
  padding: var(--cell-padding);
  aspect-ratio: 1;
}

input[type="checkbox"]._int_checkbox {
  width: var(--checkbox-size);
  aspect-ratio: 1;
}
