* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  touch-action: none;
  overscroll-behavior: none;
}

body {
  position: relative;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100lvw;
  height: 100lvh;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #e5e5f7;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#444cf7 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
  background-size:
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

#app {
  display: contents;
}
